.pic {
    // border: 2px solid red;
    // background-color: lightgrey;
    margin: 10px;
    padding: 4px;
    // text-align: center;
}

.picImage {
    // border: 2px solid blue;
    // width: 225px;
    margin: 4px;
    padding: 4px;
}
.picCaption {
    // border: 2px solid green;
    width: 200px;
    margin: 0px 4px;
    padding: 0px 4px;
    // display: none;
    // color: white;
}

a:link {
    text-decoration: none;
    color: black;
}
a:visited {
    text-decoration:none;
    color: black;
}
