.pic {
    // border: 2px solid red;
    // background-color: lightgrey;
    margin: 14px;
    padding: 4px;
    // text-align: center;
}

.picCollections {
    // border: 2px solid green;
    width: 400px;
    margin: 0px 4px;
    padding: 0px 4px;
    // display: none;
    // color: white;
}
.picImage {
    // border: 2px solid blue;
    // width: 225px;
    margin: 4px;
    padding: 4px;
}
.picCaption {
    // border: 2px solid green;
    width: 400px;
    margin: 0px 4px;
    padding: 0px 4px;
    // display: none;
    // color: white;
}

.picNav {
    // border: 2px solid green;
    width: 400px;
    margin: 0px 4px;
    padding: 0px 4px;
    // display: none;
    // color: white;
}
.picDescription {
    // border: 2px solid green;
    width: 400px;
    margin: 0px 4px;
    padding: 0px 4px;
    // display: none;
    // color: white;
}

#footer {
    clear: both;
}
